:root {
  --color-primary: #1a3263;
  --color-secondary: #547792;
  --color-accent: #fab95b;
  --color-body: #000c25;
  --color-headings: #e8e2db;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Typography */
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
  background-color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-headings);
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 1.8rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-body);
  font-size: 3rem;
}

.link-arrow::after {
  content: "➜";
  margin-left: 10px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 15px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 2rem;
  }
}

/* Badges */
.badge {
  display: inline-block;
  padding: 1.5rem 1.75rem;
  font-size: 2rem;
  color: white;
  border-radius: 10px;
  line-height: 2.5rem;
}

.badge::first-line {
  font-weight: bold;
}

.badge--jams {
  background-color: var(--color-secondary);
}

.badge--projects {
  background-color: var(--color-accent);
}

.badge--experience {
  background-color: var(--color-body);
}

@media screen and (min-width: 1024px) {
  .badge {
    padding: 1.25rem 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

/* Lists */
.list {
  list-style: disc;
  color: white;
}

.list--inline .list__item {
  list-style: none;
  display: inline-block;
  gap: 1.5rem;
}

/* Icons */
.icon {
  width: 42px;
  height: 42px;
}


@media screen and (min-width: 1024px) {
  .icon {
    width: 36px;
    height: 36px;
  }
}

/* Buttons */
.btn {
  font-size: 1.8rem;
  padding: 1.5rem 6.5rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  white-space: nowrap;
  transition: transform 0.15s;
  display: inline-block;
  text-align: center;
  transform-origin: center;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.btn--accent {
  background-color: var(--color-accent);
  color: white;
}

.btn--accent:hover {
  transform: scale(1.05);
}

.btn--icon{
  width: 7.25rem;
  height: 7.25rem;
  padding: 1.5rem;
  border: none;
  border-radius: 100%;
  background-color: var(--color-secondary);
  transition: background-color 0.15s;
}

.btn--icon:hover {
  background-color: var(--color-accent);
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
    padding: 1.25rem 5.5rem;
  }

  .btn--accent:hover {
    font-size: 1.7rem;
  }

  .btn--icon {
    width: 6.75rem;
    height: 6.75rem;
    padding: 1.5rem;
  }
}

/* Tags */
.tag {
  display: inline-block;
  padding: 0.75rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 0;
}

.tag--play_in_browser {
  color: black;
  background-color: var(--color-headings);
}

.tag--godot {
  color: white;
  background-color: var(--color-secondary);
}

.tag--steam_workshop {
  color: white;
  background-color: var(--color-body);
}

.tag .icon {
  width: 27px;
  height: 27px;
  margin-right: 5px;
  margin-top: -3px;
  margin-bottom: -7px;
}

@media screen and (min-width: 1024px) {
  .tag {
    font-size: 1.25rem;
    padding: 0.75rem 0.75rem;
  }

  .tag .icon {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    margin-top: -3px;
    margin-bottom: -7px;
  }
}

/* Cards */
.card {
  width: 310px; 
}

.card__title {
  text-align: center;
  color: var(--color-headings);
  font-size: xx-large;
  text-shadow: 0px 4px 4px rgb(0, 0, 0);
}

.card__image__btn {
  scale: 1;
  transition: scale 0.15s;
}

.card__image__btn:hover {
  scale: 1.025;
}

.card__image {
  outline: #547792 solid 3px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0);
}

.card__body {
  margin-top: -1rem;
  margin-left: -1rem;
  color: white;
  font-size: medium;
  text-shadow: 0px 4px 4px rgb(0, 0, 0);
}

@media screen and (min-width: 1024px) {
  .card {
    scale: 0.9;
  }

  .card__body {
  margin-top: -1rem;
  margin-left: -1rem;
  color: white;
  font-size: smaller;
  text-shadow: 0px 4px 4px rgb(0, 0, 0);
  }
}

/* Grids */
.grid {
  display: grid;
  gap: 2rem;
  padding: 0.5rem 4rem;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}



/* Collapsibles */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.collapsible--expanded .collapsible__content{
  max-height: 100vh;
}

/* Blocks */
.block {
  --padding-verticle: 6rem;
  padding: var(--padding-verticle) 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block__subheading {
  margin-top: -1rem;
  color: var(--color-headings);
}

.block--bright {
  background-color: var(--color-headings);
  color: black;
}

.block--bright .block__heading {
  color: black;
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation Bar */
.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-body);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.nav__logo {
  color: var(--color-headings);
  font-size: 3rem;
  font-weight: bold;
}

.nav__list {
  margin: 0;
  padding: 0;
  width: 100%; 
  list-style: none;
  font-weight: bold;
  font-size: 2rem;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid var(--color-secondary);
  font-size: 1.75rem;
}

.nav__item > a {
  color: var(--color-headings);
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--color-accent);
}

.nav__menu-icon {
  opacity: 0.5;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__menu-icon {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 1rem 5rem;
  }

  .nav__menu-icon {
    display: none;
  }

  .nav__list {
    margin-top: 0.75rem;
    width: auto;
    display: flex;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border-bottom: none;
    font-size: 1.25rem;
  }
}

/* Hero Section */
.hero {
  background-color: var(--color-body);
  background-image: url(../images/herobg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: lighten;
  text-align: center;
  padding: 10rem 2rem ;
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
}


@media screen and (min-width: 768px) {
  .hero {
    height: 80vh;
    padding: 20rem 8rem;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    height: 100vh;
    text-align: center;
    padding: 30rem 8rem 20rem;
    justify-content: center;
  }
}

/* Projects */
.projects .block {
  padding: 0;
}

.projects .grid {
  padding-top: 2rem;
  gap: 3rem;
  justify-content: center;
}

.project__header {
  width: 100%;
  text-align: center;
  color: var(--color-accent);
  background-color: var(--color-body);
  font-size: 3rem;
  text-shadow: 0px 4px 4px rgb(0, 0, 0);
  padding: 2rem;
}

.project__btn {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}


@media screen and (min-width: 1024px) {
.project__btn {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
}