<div class="card">
  <header class="card__title">Card title</header>
  <div>
    <img src="images/Space.png" alt="Space Image" class="card__image" />
  </div>
  <div class="card__body">
    <ul class="list">
      <li class="list__item">
        List item 1 Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Distinctio, nisi.
      </li>
      <li class="list__item">List item 2</li>
      <li class="list__item">List item 3</li>
    </ul>
  </div>
  <div class="card__tags">
    <span class="tag tag--play_in_browser">Play in Browser</span>
    <span class="tag tag--godot">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#godot"></use>
      </svg>
      Godot
    </span>
    <span class="tag tag--steam_workshop">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#steam-svgrepo-com"></use>
      </svg>
      Steam Workshop
    </span>
  </div>
</div>
