<nav class="nav collapsible collapsible--expanded">
      <a href="/" class="nav__logo">Alen Ferreras</a>
      <svg class="icon nav__menu-icon">
        <use xlink:href="images/sprite.svg#icons8-menu"></use>
      </svg>
      <ul class="nav__list collapsible__content">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#projects">Projects</a></li>
        <li class="nav__item"><a href="#about">About</a></li>
        <li class="nav__item"><a href="#contact">Contact</a></li>
      </ul>
    </nav>